<%
var monthNames = ["January", "February", "March","April", "May", "June", "July", "August", "September","October", "November", "December"];

function formatDate(date){
    var day = date.getDate();
    var month = date.getMonth();
    var year = date.getFullYear().toString().substring(2);
    return monthNames[month]+' '+day+"'"+year;
}

var helpers={

    fromNow : function(date){
        return moment(new Date(date)).fromNow();
    },

    topicIcon: function(type) {
        var faClassName='';
        switch(type){
            case 'showcase':
                faClassName='mdi-code-array';
                break;
            case 'repo':
                faClassName='mdi-cloud';
                break;
            case 'link':
                faClassName='mdi-link-variant';
                break;
            case 'discussion':
                faClassName='mdi-message-text';
                break;
            case 'poll':
                faClassName='mdi-poll-box';
                break;
        }
        return faClassName;
    },

    typeIconClass:function(type){
        var faClassName = '';
        switch(type){
            case 'showcase':
                faClassName='snippet';
                break;
            case 'repo':
                faClassName='repo';
                break;
            case 'link':
                faClassName='link';
                break;
            case 'discussion':
                faClassName='discussion';
                break;
            case 'poll':
                faClassName='poll';
                break;
        }
        return faClassName;
    },

    capitalize:function(val){
        return val.charAt(0).toUpperCase() + val.slice(1);
    },
    hostname : function(link){
        return new URL(link).hostname;
    }
}

%>

<% for(var j=0; j< topics.length; j++) { %>
 
<div class="row post-item  ">

    <div class="col-xs-12 single-thread feed-single-thread">

        <div class="row">

            <div class="col-xs-12">
                <div class="row post-header">
                    <div class="col-sm-10 col-xs-8 headers-col">
                        
                        <div class="profile-img-col hidden-xs">
                           <a href="/weixin/read/<%=topics[j]._id%>" target="_blank">  <%=topics[j].title%><br><%=topics[j].keywords%></a>
                        </div>
                        <p class="header-text-content  ">
                             
                        
                    </div>
                    <div class="col-sm-2  col-xs-4 headers-col extra-col text-right">
                        <a class="topic-icon-placeholder  " href="/post/<%=topics[j]._id + '/'+ topics[j].title %>" target="_blank">
                            <i class="mdi  "></i>
                        </a>
                    </div>

                </div>

                <div class="row">

                     
                    <div class="col-sm-12 duplicate-alert-cover">
                        
                    </div>
                  

                     
                    <div class="col-md-3 post-link-image-container hidden-xs hidden-sm">
 
                    </div>
                    
                    <div class="col-xs-12   ">
                        <h2>
                           
                        </h2>

                        <div class="post-description">
                            <p><%- topics[j].abstract%></p>
                            
                            <% for(var i=0; i < topics[j].image_list.length; i++) { %>

                              <a href="/weixin/read/<%=topics[j]._id%>" target="_blank">
                              <img src="<%=topics[j].image_list[i].url%>">
                              </a>
                            <% } %> 
                        </div>
                    </div>
                </div>

                 
                
            </div>
        </div>

        
        

         
    </div>
</div>

 <% } %>
